
body{
  background-color: white;
}
.namebar{
  text-align: center;
  font-size: 2em;
  margin: 1em;
}

.navbar{
  display: inline-block;
  position: relative;
  padding: 0px;
  margin:0px;
  text-align: center;
}

.navbar li{
  padding: 0px;
  margin: 0px;
  text-align: center;
  list-style-type: none;
  position: relative;
  float: left;
  background-color: white;
  width:13.15em;
}

.dropdown-menu{
  padding:0px;
  margin:0px;
  text-align: center;
}

.navbar li ul li{
  border: 1px solid black;

}




a:link, a:visited{
  text-decoration: none;
  color:black;
  font-size: 2.7em;
  font-family: 'Vollkorn', serif;
}

<<<<<<< HEAD
ul#menu li {
    display: inline;
      width: 800px;
}

ul#menu li a {
    background-color:white;
    color: blue;
    padding: 20px 60px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
    font-family: 'Brush Script MT', cursive;
font-size: 30px;
font-style: normal;
font-variant: normal;
font-weight: 500;
line-height: 26.4px;
}

ul#menu li a:hover {
    background-color: red;
div.right{
float: right;

}


body {

  background-image: url("/pictures/Blue-Abstract-Wallpapers-Desktop.jpg");
  background-size: cover;
}

a:hover {
  text-decoration: none;
  color:gold;
  font-size: 2.7em;
  font-family: 'Vollkorn', serif;

}
